img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

/* text & headings */
.heading {
	font-size: clamp(1.8rem, 3.5vw, 3rem);
	color: var(--primary-color);
	animation-name: glow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

h1.heading {
	font-weight: 900;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

p {
	line-height: 1.8;
}

/* buttons and links */
a {
	--text-shadow-transition: 0.2s ease-in-out;
	--color-transition: color 0.2s ease-in-out;
	text-decoration: none;
	color: var(--primary-color);
	transition: var(--text-shadow-transition), var(--color-transition);
}
a:active,
a:hover {
	text-shadow: 0 0 5px var(--primary-color);
}

a:focus-visible {
	outline: 1px solid var(--primary-color);
	outline-offset: 2px;
	border-radius: 3px;
}

button,
.btn {
	font-family: inherit;
	font-size: var(--small-font);
	padding: 0.6rem;
	border: none;
	border-radius: var(--border-radius);
}

.btn-action {
	color: var(--dark-2);
	background-color: var(--primary-color);
}

/* social media links */
.social {
	display: flex;
	gap: var(--space);
	justify-content: center;
}

.social__link {
	font-size: 1.2rem;
	width: 1.5rem;
	height: 1.5rem;
	padding: var(--space);

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	--background-transition: background-color 0.2s ease-in-out;
	transition: var(--background-transition), var(--color-transition),
		var(--background-transition);
}
.social__link:active,
.social__link:hover {
	background-color: var(--dark-2);
}

.tech-icon {
	--size: 1.2rem;
	width: var(--size);
	height: var(--size);
	margin-right: var(--space);
}
.tech-icon[color-scheme="light"] {
	filter: invert(1);
}

/* animations */
@keyframes glow {
	0% {
		text-shadow: 0px 0px 5px var(--primary-color);
	}
	25% {
		text-shadow: 0px 0px 10px var(--primary-color);
	}
	50% {
		text-shadow: 0px 0px 7px var(--primary-color);
	}
	80% {
		text-shadow: 0px 0px 10px var(--primary-color);
	}
	100% {
		text-shadow: 0px 0px 5px var(--primary-color);
	}
}

/* scrollbar */
body::-webkit-scrollbar {
	display: none;
}
