.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--spacing);
}

.project {
	text-align: center;

	max-width: 450px;

	border: 1px groove var(--clr-border);
	border-radius: var(--border-radius);

	position: relative;
	overflow: hidden;
}

.project__screenshot {
	aspect-ratio: 16 / 9;
	object-fit: cover;

	transition: opacity 0.2s ease-in-out;
}

.project__screenshot-link {
	display: block;
	position: relative;
}

.project__screenshot-link-text {
	opacity: 0;

	transition: opacity 0.2s ease-in-out;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.project__screenshot-link:hover .project__screenshot {
	opacity: 0.1;
}

.project__screenshot-link:hover .project__screenshot-link-text {
	opacity: 1;
}

.project__name {
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-sm);
}

.project__details {
	padding: var(--spacing);
}

.project__description {
	font-size: var(--font-sm);
}

.project__stack {
	display: flex;
	justify-content: center;
	gap: var(--spacing);
}

.project__links {
	margin-top: var(--spacing);

	display: flex;
	justify-content: center;
	gap: var(--spacing);
}

.project__link {
	font-size: var(--font-sm);
}
