@import url(common.css);
@import url(animations.css);
@import url(header.css);
@import url(experience.css);
@import url(projects.css);
@import url(home.css);
@import url(about.css);

:root {
	--clr-font: #c7c7c7;
	--clr-primary: #27d796;

	--clr-dark-1: #16161c;
	--clr-dark-2: #1a1c23;
	--clr-border: #27d79610;

	--font-size: 18px;
	--font-sm: 0.8rem;

	--border-radius: 0.5rem;

	--spacing-sm: 0.2rem;
	--spacing: 1rem;
	--spacing-lg: 2rem;

	font-family: Chivo, Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: var(--font-size);
	color: var(--clr-font);

	background-color: var(--clr-dark-1);

	color-scheme: dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background-color: var(--clr-primary);
	color: var(--clr-dark-2);
}

html {
	scroll-behavior: smooth;
	background-position: center;
}

body {
	margin: 0;
}

header,
footer {
	width: 90%;
	max-width: 1280px;
	margin-inline: auto;
}

/* main */
main {
	max-width: 920px;
	width: 80%;
	margin-inline: auto;
}

@media (max-width: 900px) {
	:root {
		font-size: 17px;
	}

	main {
		width: 90%;
	}
}

/* footer */
.footer {
	text-align: center;
	font-size: var(--font-sm);
	border-top: 1px solid var(--clr-border);
}
