* {
   box-sizing: border-box;
}
html { height: 100%; }

body {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   font-family:'Roboto Mono', 'Source Code Pro', hack, consolas, monospace, Arial, Helvetica, sans-serif;

   background-color: $black;
   color: $grey;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
   color: $white;
}

li {
   list-style: none;
}

h1, h2, h3, h4 {
   margin: 10px 0;
}

p {
   margin: 5px 0;
}

button {
   border: none;
   background-color: transparent;
   color: white;
   cursor: pointer;
   outline: none;
}