* {
   animation: fadeIn .3s backwards;
}

body {
   padding: 10px;
}

.neon {
   @include neon();
}

.title {
   font-size: 1.5rem;
}

.subtitle {
   @include neon(5px);
   font-size: 1.2rem;
}

.button__link {
   width: 100%;
   text-align: center;
   padding: 10px;
   transition: background-color .3s;

   &:hover {
      background-color: $neon;
   }
}