body {
   display: flex;
   flex-direction: column;

   @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
   }
}

main {
   overflow-y: auto;
}