@mixin neon($size: 10px, $color: $neon) {
   color: $color;
   text-shadow: 0 0 $size $color;
}

@mixin marginPadding($margin, $padding) {
   margin: $margin;
   padding: $padding;
}

@mixin test($color: $neon) {
   border: 1px solid $color;
}