.nav {
   display: flex;
   justify-content: space-between;
}

.logo {
   svg {
      width: 90px;
   }

   @media (max-width: $breakpoint-medium) {
      margin: auto 0;

      svg {
         height: 30px;
         width: auto;
      }
   }
}

.nav-container {
   display: flex;

   @media (max-width: $breakpoint-medium) {
      display: flex;
   }
}

.menu, .menu-social {
   @include marginPadding(0, 0);
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   &__link {
      @include marginPadding(0, 10px);
      display: block;
      letter-spacing: 1px;
      transition: color .5s, text-shadow .5s;
      
      @media (max-width: $breakpoint-small) {
         @include marginPadding(5px, 5px);
      }
   }
   &__link:hover {
      @include neon;
   }
   &__link i {
      margin-right: 8px;

      @media (max-width: $breakpoint-small) {
         margin-right: 0;
      }
   }
   &__link span {
      @media (max-width: $breakpoint-medium) {
         display: none;
      }
   }

   @media (max-width: $breakpoint-medium) {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
   }
}

