<section class="aboutme">
   <h2 class="neon title">Who am I?</h2>
   <p>My name is Chars.</p>
   <p>I'm a software engineering student and web developer.</p>
   <p>Programming is my job and my hobby.</p>
</section class="description">

<h3 class="subtitle">Skills</h3>
<section class="technologies" id="skills"></section>

<h3 class="subtitle">I'm learning</h3>
<section class="technologies" id="learning"></section>

<h3 class="subtitle">And I've also worked with</h3>
<section class="technologies" id="other"></section>