<div class="contact">
   <h2 class="subtitle">Send me a message and follow me on</h2>
   <section class="contact-info">
      <a href="mailto:chars.dev@gmail.com" target="_blank" class="button">
         <i class="bx bx-mail-send neon"></i> Email
      </a>
      <a href="https://twitter.com/chars_dev" target="_blank" class="button">
         <i class="bx bxl-twitter neon"></i> Twitter
      </a>
      <a href="https://www.linkedin.com/in/chars-dev/" target="_blank" class="button">
         <i class="bx bxl-linkedin neon"></i> LinkedIn
      </a>
      <a href="https://github.com/chars-mc" target="_blank" class="button">
         <i class="bx bxl-github neon"></i> GitHub
      </a>
   </section>
</div>