<div class="contact">
   <h2 class="subtitle">Send me a message on</h2>
   <section class="contact-info">
      <a href="mailto:chars.dev@gmail.com" target="_blank" class="button">
         <i class="bx bx-mail-send neon"></i> Email
      </a>
      <a href="tel:967-166-1292" target="_blank" class="button">
         <i class="bx bx-phone neon"></i> +52 1 967 166 1292
      </a>
      <a href="https://wa.me/5219671661292" target="_blank" class="button">
         <i class="bx bxl-whatsapp neon"></i> WhatsApp
      </a>
   </section>

   <h2 class="subtitle">Follow me on</h2>
   <section class="social-medias">
      <a href="https://twitter.com/chars_dev" target="_blank" class="button">
         <i class="bx bxl-twitter neon"></i> Twitter
      </a>
      <a href="https://www.linkedin.com/in/carlos-manuel-santiz-perez-3934b4120/" target="_blank" class="button">
         <i class="bx bxl-linkedin neon"></i> LinkedIn
      </a>
      <a href="https://github.com/chars-mc" target="_blank" class="button">
         <i class="bx bxl-github neon"></i> GitHub
      </a>
   </section>
</div>