<section class="profile">
   <div class="profile__description">
      <h1 class="title">Hello friend <br> I'm <span class="neon">chars</span></h1>

      <h3 class="subtitle">A software <span class="neon">engineering student</span> & <span class="neon">web developer</span>.</h3>

      <p>See my projects and follow me</p>
      <a href="#/contact" class="button">CONTACT ME</a>
   </div>
   
   <img src="./static/favicon.png" alt="chars_photo" class="profile__photo">
</section>