<section class="profile">
   <div class="profile__description">
      <h1>Hello friend <br> I'm <span class="neon">Chars</span></h1>

      <h3 class="subtitle">A software engineering student & web developer</span>.</h3>

      <p><i class='bx bxs-brain neon' ></i> Do you have a project in mind?</p>
      <a href="#/contact" class="button">CONTACT ME</a>
   </div>
   
   <img src="./static/profile_photo.png" alt="chars_photo" class="profile__photo">
</section>